<% include ./partials/notificationTemplate.ejs%>
            <div class="w-full h-[13%] flex items-center justify-start border-b-2 border-white bg-[#93c2af]">
            <h1 class="text-2xl text-[#43856F] font-semibold pl-4">
              Dashboard
            </h1>
            </div>

            <div class="w-full h-[87%] flex flex-col justify-center items-center">
              <% if (user != null && user.projects != null && user.projects.length > 0) { %>
                <div class="w-[95%] h-[95%] bg-[#93c2af] rounded-lg">
                  <div class="profdets flex flex-col items-center justify-start mt-3">
                    <div class="relative">
                      <div class="w-24 h-24 rounded-full overflow-hidden">
                        <% if (user.projects[0].universityLogo) { %>
                          <img class="w-full h-full object-cover position-cover" src="/uploads/<%= user.projects[0].universityLogo %>" alt=""/>
                        <% } else { %>
                          <!-- Provide a default image or handle the case where universityLogo is not available -->
                          <img class="w-full h-full object-cover position-cover" src="/default-logo.jpg" alt="Default Logo"/>
                        <% } %>
                      </div>
                    </div>
                    <h1 class="text-3xl font-semibold mt-4"><%= user.projects[0].universityName %></h1>
                    <h3 class="text-md mt-1"><%= user.universityEmail %></h3>
                  </div>
            
                  <div class="w-full h-[42vh]">
                    <div class="w-full h-full flex items-center px-12">
                      <% user.projects.forEach((proj) => { %>
                        <div class="w-[22%] h-[80%] flex flex-col justify-center">
                          <div class="w-[15vw] h-[20vh] bg-slate-500 rounded-lg overflow-hidden">
                            <% if (proj.projectImages && proj.projectImages.length > 0) { %>
                              <img src="/uploads/<%= proj.projectImages[0] %>" class="w-full h-full object-cover" alt=""/>
                            <% } %>
                          </div>
                          <div class="w-[15vw] h-[10vh] flex flex-col items-start justify-center">
                            <h1 class="text-center text-xl font-semibold"><%= proj.projectTitle %></h1>
                            <h3 class="text-center text-md font-medium capitalize"><%= proj.projectCategory %></h3>
                          </div>
                        </div>
                      <% }); %>
                    </div>
                  </div>
                </div>
              <% } else { %>
                <div>no projects available</div>
              <% } %>
            </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/uniDashboard.js"></script>
  </body>
</html>
