<% include ./partials/header.ejs%>
<div class="profile w-full min-h-screen  bg-[#e4ebe8]  pt-1">
    
   <div class="profdets flex flex-col items-center justify-start mt-[7rem] ">
        <div class="relative">
            
            <div class="w-32 h-32 bg-zinc-600 rounded-full overflow-hidden">
                <img class="w-full h-full object-cover position-cover" src="/temp/<%= user.projects[0].universityLogo %>" alt=""> 
            </div>
        </div>
        <h1 class="text-3xl font-semibold mt-4"><%= user.projects[0].universityName %></h1>
        <h3 class="text-md mt-1"><%= user.universityEmail %></h3>
       
   
    </div>
    
    <div class="w-full h-[42vh]  mt-8">
        <div class="w-full h-full  flex items-center  px-20">
            <% user.projects.forEach(function(element,i) { %>
            <div class="w-[22%] h-[80%]  flex flex-col justify-center">
                <div class="w-[15vw] h-[20vh] bg-slate-500 rounded-lg overflow-hidden">
                    <img src="/temp/<%= element.projectImages[0] %>" class="w-full h-full object-cover" alt="">
                </div>
                <div class="w-[15vw] h-[10vh] flex flex-col items-start justify-center">
                    <h1 class=" max-h-[5vh] overflow-hidden text-xl font-semibold text-left uppercase text-[#1c3831]"><%= element.projectTitle %></h1>
                <h3 class="text-center text-md font-medium"><%= element.projectCategory %></h3>
                </div>
            </div>
            <% })  %>
            
        </div>

    </div>
</div>

<script src="javascripts/dashboard.js"></script>
<script src="javascripts/header.js"></script>